@model Website.Views.ProjectsModel
<div class="page">
    @for (var projectIndex = 0; projectIndex <  Model.Settings.Count; projectIndex++)
    {
        var project = Model.Settings[projectIndex];

        <div class="card gap-20">
            <div class="flex flex-row flex-wrap width-100">
                <h2>@project.Title</h2>
                <span class="spacer"></span>
                @if (!string.IsNullOrEmpty(project.Source))
                {
                    <button class="icon" onclick="window.open('@project.Source', '_blank')">
                        <i class="fa-solid fa-code"></i>
                        source
                    </button>
                }
            </div>
            <div class="flex flex-col project-content">
                <p>@project.Description</p>
                <div class="chipContainer">
                    @foreach(var tag in project.Tags)
                    {
                        <span class="chip">@tag</span>
                    }
                </div>
                @if (project.ImagePaths.Count > 0)
                {
                    <div class="project-image-container" image_index="0" previous_index="0"
                        _="on mutation of @@image_index 
                            if @@image_index <= 0 add @@disabled to the first <button/> in me
                            else remove @@disabled from the first <button/> in me
                            end

                            if @@image_index >= @(project.ImagePaths.Count - 1) add @@disabled to the last <button/> in me
                            else remove @@disabled from the last <button/> in me
                            end

                            set idToHide to `project-img-@(projectIndex)-${@@previous_index}`
                            remove .visible from #{idToHide}
                            set idToShow to `project-img-@(projectIndex)-${@@image_index}`
                            add .visible to #{idToShow}

                            set idToDeselect to `project-tab-@(projectIndex)-${@@previous_index}`
                            remove .selected from #{idToDeselect}
                            set idToSelect to `project-tab-@(projectIndex)-${@@image_index}`
                            add .selected to #{idToSelect}
                            
                            set @@previous_index to @@image_index
                        ">
                        <button class="icon"
                            disabled
                            _="on click decrement (the closest parent <div.project-image-container/>)'s @@image_index">
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                        <div class="project-image-carousel">
                            <div class="project-image-window">
                                @for (var pathIndex=0; pathIndex < project.ImagePaths.Count; pathIndex++)
                                {
                                   <img 
                                       src="@project.ImagePaths[pathIndex]" 
                                       class="@(pathIndex == 0 ? "visible" : "")"
                                       id="project-img-@projectIndex-@pathIndex"
                                       hx-get="/partials/image"
                                       hx-vals='{"imagePath": "@project.ImagePaths[pathIndex]"}'
                                       hx-swap="innderHTML"
                                       hx-target="#overlay-content"
                                       hx-trigger="click"
                                       _="on click add .overlaid to <body/>"/>
                                }
                            </div>
                            <div class="project-image-indicator">
                                @for (var pathIndex=0; pathIndex < project.ImagePaths.Count; pathIndex++)
                                {
                                    <span class="project-image-tab @((pathIndex == 0) ? "selected" : "")" id="project-tab-@projectIndex-@pathIndex"></span>
                                }
                            </div>
                        </div>
                        <button class="icon" @if (project.ImagePaths.Count == 1){ <text>disabled</text> }
                            _="on click increment (the closest parent <div.project-image-container/>)'s @@image_index">
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
</div>
